.body{
    padding: 2%;
    border: 2px solid;
    margin-left: 35%;
    background-color: aqua;
    height: 600px;
    width: 400px;
    
}
h2 {
    text-align: center;
}
.text {
      align-items: self-en;
}
.error{
    border-color: red;
}