<div class="container">
    <h1>Insertar</h1>
<hr>
    <div class="input-group">
        <span class="input-group-text" id="input-group-left-example"></span>
        <input type="text" class="form-control" placeholder="Nombre" aria-label="nombre" aria-describedby="input-group-left" #nombrePersona>
        <br>
        <label for="categoria">Categoria</label>
        <select class="form-select" aria-label="Default select" #categoria>
            <option selected="" value="Empleado">Emplead</option>
            <option value="gerente">Gerente</option>
          </select>
          <br>
        <span class="input-group-text" id="input-group-left-example"></span>
        <input type="text" class="form-control" placeholder="Empresa" aria-label="empresa" aria-describedby="input-group-left" #nombreEmpresa>
        <br>
        <label for="formRange" class="form-label">Nivel de felicidad</label>
        <input type="range" class="form-range" min="0" max="5" step="0.5" id="formRange" #felicidad>
    </div>
    <button type="button" class="btn btn-dark" (click)="crear(nombrePersona,categoria,nombreEmpresa,felicidad)">Insertar</button>

    
</div>
